[2019-10-12 13:22] angelocordon opened #2 "Set up Material UI"
Save Material UI as a dependency - https://material-ui.com/

[2019-10-12 13:36] angelocordon opened #3 "Set up Landing Page"
Use Material UI to develop landing page - https://www.notion.so/Designs-c4aafb2fc93240aea1b033110db076cd#7edcae8b13d34f3284e3a8474d283170

## Implementation Notes
It doesn't have to be pixel perfect, use Material UI components that are closest to what's on the design.

[2019-10-12 13:38] angelocordon opened #4 "Hook up search on the front-end with the Django API search"
See for design reference: https://www.notion.so/Designs-c4aafb2fc93240aea1b033110db076cd#5542b30340554ad984630892464d0139

and issue #3 for implementation notes.

[2019-10-12 13:59] angelocordon opened #5 "Add Jest Testing Framework"
Add Jest to devDependencies - https://jestjs.io/

[2019-10-21 05:10] lpatmo commented on #4
There are some updated designs here: https://github.com/codebuddies/v3/issues/2

[2019-10-21 07:10] lpatmo opened #9 "Set up React Router"
We need to set up React Router.

Requirements: at a minimum, users can navigate to an /about and /resources page.

[2019-10-21 07:16] lpatmo opened #11 "[Quick discussion] a:link and a:visited colors"
Our default `dodgerblue` color on codebuddies.org is not very accessible against a white background (or with white font against its blue); we need to select a slightly darker blue for our links.

[2019-10-21 07:16] lpatmo commented on #11
These definitions can probably be put into the `App.css` file.

[2019-10-21 07:18] lpatmo opened #12 "[Documentation] material-ui intro"
Need to update the README to explain how CSS is written in this app. We're using the `material-ui` flavor of `CSS-in-JS`: https://material-ui.com/styles/basics/

[2019-10-21 07:22] lpatmo opened #13 "[Feature] Personal Menu component"
We need to create a new "Personal Menu" component that displays the following (see left side of mockup):

![image](https://user-images.githubusercontent.com/4512699/67184332-6402e280-f398-11e9-902c-ac13c571a0d7.png)

None of this needs to "work" right now, but we could follow the UI from https://codesandbox.io/s/ujp8m, which is documented at https://material-ui.com/components/tree-view/.

[2019-10-21 07:26] lpatmo commented on #9
See: PR #10

[2019-10-21 07:26] lpatmo commented on #2
Sorry -- I burgled this in PR #10 :)

[2019-10-21 07:26] #2 closed

[2019-10-21 07:30] lpatmo opened #14 "[UI] Create "user icon" menu component in nav"
We'll need some sort of user icon component that looks like the thing on the far right:

![image](https://user-images.githubusercontent.com/4512699/67184924-a547c200-f399-11e9-8fa1-aaf7dd382fc6.png)

When this avatar is clicked on, it should open up a "Log out" link.

Example we can follow: https://codesandbox.io/s/v4v97

We'll have to use a material-ui icon for the user avatar/icon.

[2019-10-21 07:33] thesanjeevsharma commented on #13
Hello, I would like to work on this issue!

[2019-10-21 07:55] lpatmo opened #15 "Create JSON folder/files to mock data returned by API calls"
We'll need to mock some JSON data that we can work with until we've made a decision on using github.com/codebuddies/serverless (graphQL and Apollo Client) or github.com/codebuddies/django-conceept (Django REST Framework - traditional API endpoints, probably without GraphQL, since according to https://yeti.co/blog/migrating-from-rest-to-graphql-in-django/, graphene has performance issues that need

[2019-10-21 07:59] lpatmo opened #16 "Set up Resources "submit" page"
See:
![image](https://user-images.githubusercontent.com/4512699/67186822-b692cd80-f39d-11e9-8646-975c835e466e.png)

Notes:
- use material-ui's `Grid` component to create a two-column structure for the page
- ignore the "personal menu" component on the left
- Create a form that has the inputs indicated above
- Add an additional `tags` UI component to the form (h/t @grimmothy) that is missing from t

[2019-10-21 08:02] lpatmo commented on #13
@thesanjeevsharma Thanks! This repo is kinda bare-bones right now, but let me know if you have any questions. We're using `material-ui` and this component simply needs to be something that could be included in a bunch of different pages.

[2019-10-21 08:19] lpatmo commented on #15
Note: https://docs.google.com/document/d/1y0AkJVHdONGsWQGgIrM31007U0wf1fJNxiu5hDrt7PE/edit#heading=h.9rfl8wc4fp2x by @BethanyG (scroll down to see the most recent diagram) is a good reference point for this data.

[2019-10-21 08:25] lpatmo opened #17 "Set up "Search" React component"
We need a `Search` component that takes in data as props and returns results as children.

For the UI, we can use the `Input` component from material-ui (https://material-ui.com/api/input/#main-content), and specify it as `type="search"`.

Thoughts:
- <Search data={data}>{children}</Search> (something like that)
- should be a functional component
- When we use this component, replace {children} wi

[2019-10-21 08:29] lpatmo opened #18 "Set up `ResourceCard` component"
We need a `ResourceCard` component that uses material-ui's `Card` component and looks like this:

![image](https://user-images.githubusercontent.com/4512699/67188732-cf9d7d80-f3a1-11e9-8dfc-8a1653d008e7.png)

Notes:
- See https://material-ui.com/components/cards/ for reference
- Until #15 is tackled, we can pass in fixed example data as props.
- Let's use material-ui's `icons` library for the icon

[2019-10-21 08:51] agarwalamn commented on #18
Hey!
I have a query, do you want all these things in different files?
Because in your repo there is only plain react initial code

[2019-10-21 11:22] rozenraymond commented on #14
Hi, I'm happy to take this issue. However, the sandbox link is not working for me. Can you please share another sandbox link? Cheers!

[2019-10-21 14:43] jonnyfluckey commented on #15
I would be happy to help out with this request. I just will need access to the document in the comments in order to assist and know what data I am putting in the JSON file

[2019-10-21 16:17] lpatmo commented on #15
Huh, the doc should be accessible! (I was able to open it up in an incognito browser.) If not, here is a screenshot of sample datat we need most right now (Resources):

![image](https://user-images.githubusercontent.com/4512699/67223109-84a45a00-f3e3-11e9-9e2b-41242f948171.png)

[2019-10-21 16:19] lpatmo commented on #18
@agarwalamn Ah sorry, I have some initial setup in https://github.com/codebuddies/react-concept/pull/10, and once that is merged we can add `ResourceCard` into the components folder!

[2019-10-21 16:44] BethanyG commented on #15
Hi @jonnyfluckey,

The easiest might be to just have me give you the JSON that DRF produces, and you can adapt from there.  I will post it in the next few minutes.  There is also a version from when @billglover first mocked the API.  Let me see if I can find it for you.

[2019-10-21 16:47] BethanyG commented on #15
@jonnyfluckey @lpatmo

Here is the link for the Swagger mock that @billglover  did.  https://app.swaggerhub.com/apis-docs/billglover/CodeBuddies/0.0.1

[2019-10-21 16:50] jonnyfluckey commented on #15
Thank you @BethanyG ! I will work on this today, and ask for feedback/advice as needed :)

[2019-10-21 17:08] BethanyG commented on #15
@jonnyfluckey,

So you'll have to break this down for your various needs and formats, but here is a (very!) rough list of mocked data from the DRF implementation we've worked on (apologies - I had to save it as txt..but if you paste it into a code editor, it's valid JSON).
[mocked_api_data.txt](https://github.com/codebuddies/react-concept/files/3752059/mocked_api_data.txt)
.  Let me know if you ha

[2019-10-21 22:33] timi-codes commented on #17
I would love to take this up

[2019-10-21 23:40] timi-codes commented on #17
I think you need to share more light into what is required. Some of the description above appears broken.

[2019-10-22 02:16] lpatmo commented on #15
Sounds great! Thanks @BethanyG!

[2019-10-22 03:12] #5 closed

[2019-10-22 04:13] lpatmo commented on #17
@timi-codes Thanks, I'll update the specs! Sorry they were a little vague. :) A couple of open PRs from last night have been merged in, so we now have sample `resource` data that the React component should be able to search through. Let me set up a boilerplate for you; will follow up.

[2019-10-22 04:13] lpatmo commented on #18
Update: it's been merged! I'm going to make another PR to return some sample data via `axios`, and then we should be able to move forward.

[2019-10-22 04:14] #15 closed

[2019-10-22 04:14] #9 closed

[2019-10-22 04:16] lpatmo commented on #14
@rozenraymond Thanks! And sorry about the link! Here it is: https://codesandbox.io/s/v4v97. It comes from the material-ui docs at https://material-ui.com/components/menus/

[2019-10-22 04:22] lpatmo opened #22 "Set up `axios` and return data from fake API"
Thanks to @jonnyfluckey we have https://github.com/typicode/json-server, and thanks to @BethanyG we have sample `Resources` data in `db.json`.

Need to set up `axios` and return some sample data on a page. Afterwards, #18 can display it in a nicer way.

[2019-10-22 05:16] quaj commented on #14
does it need background color?

[2019-10-22 07:10] #22 closed

[2019-10-22 07:16] lpatmo commented on #18
@agarwalamn Let me know if you're still interested in working on this issue! I merged in some initial setup, so if you pull the latest you should see this: https://cb-react-concept.netlify.com (click on "Resources" on the live site; there is an issue with going to https://cb-react-concept.netlify.com/resources that will be fixed soon)

I don't think we should make those cards look *exactly* like t

[2019-10-22 07:18] lpatmo commented on #17
@timi-codes I merged this in:

![image](https://user-images.githubusercontent.com/4512699/67264954-5bc2aa00-f461-11e9-87db-4cbc6a4cc9d7.png)

Ideally, the behavior should be:
- when a user starts typing, we filter based on the resource title or description using a `filter` method.

Can discuss more implementation details tomorrow if you'd like!

[2019-10-22 07:23] lpatmo opened #24 "404 on /resources page on netlify"
1/ If I go to https://cb-react-concept.netlify.com/resources directly, I'll get a 404
2/ If I go to https://cb-react-concept.netlify.com and then click on "Resources," the page shows up.

@angelocordon suggests we need this: https://docs.netlify.com/routing/redirects/rewrites-proxies/#limitations

Don't have time to do this tonight, so filing an issue about it as a reminder.

[2019-10-22 07:23] lpatmo commented on #24
Update: ![image](https://user-images.githubusercontent.com/4512699/67265287-35e9d500-f462-11e9-8e71-320676fa49be.png)

[2019-10-22 07:39] #24 closed

[2019-10-22 07:41] lpatmo opened #26 "[React] Refactor `handleExpandClick` to open up one card at a time"
See: https://cb-react-concept.netlify.com/resources

Right now, clicking on "toggle" opens up every card. We need to open up one at a time.

[2019-10-22 07:43] lpatmo opened #27 "[CSS] Style auto-expanding textarea"
Material-UI gives us an auto-resizing textarea (https://material-ui.com/components/textarea-autosize/) which we use in Resources/index.js, but it's not really styled.

Task: polish it up to look less like a raw form element.

Docs for adding CSS using material-ui: https://material-ui.com/styles/basics/

[2019-10-22 11:30] agarwalamn commented on #18
@lpatmo I will!

[2019-10-22 12:16] rozenraymond commented on #26
I'm happy to work on this too 👍

[2019-10-22 13:48] Dan2D commented on #27
I can take a shot at this.

[2019-10-22 14:51] Dan2D commented on #27
Okay, so I just updated the useStyles in the Resources index.js to make it a base styling more or less like the normal material-ui text box as you can see below.

![image](https://user-images.githubusercontent.com/32251318/67298781-95ff6c00-f4a0-11e9-97de-f69e3d0fb6a2.png)

Let me know if it's good to go and I'll submit the PR

[2019-10-22 16:06] mazma1 commented on #16
@lpatmo I'll be happy to help with this

[2019-10-23 02:56] lpatmo commented on #16
@mazma1 Thank you! I've marked this as claimed. Let me know if you need any help, or change your mind about working on this.

[2019-10-23 02:58] lpatmo commented on #27
@Dan2D That looks great! Feel free to submit the PR. Thanks!

[2019-10-23 02:59] lpatmo commented on #26
@rozenraymond I'll mark this as claimed. Let me know if you need help, or change your mind about working on this issue. Thanks!

[2019-10-23 03:12] lpatmo commented on #14
@quaj Yeah, was thinking we'd use material-ui for the dropdown. And no particular requirement for a background color. But @rozenraymond has already a PR for this. Thanks for your question though!

[2019-10-23 03:46] lpatmo opened #31 "Research React WYWSIG editors"
We'll need a WYSIWYG editor for users who want to take learning notes about a resource.

https://draftjs.org looks pretty popular. Are there others that we should explore?

[2019-10-23 04:52] lpatmo opened #32 "Set up skeleton for Hangouts page"
Set up a skeleton for a hangouts page, with a calendar view and list of hangout proposals.

[2019-10-23 04:55] lpatmo commented on #32
I'm kind of eager to take a stab at this to test out some UI assumptions :)

[2019-10-23 08:11] mazma1 commented on #16
Noted @lpatmo, I'll get to work soon!

[2019-10-23 11:30] timi-codes commented on #17
Thanks for the update @ipatmo . I will look at what has been done and continue my implementation of the Search functionality.

[2019-10-23 11:34] rozenraymond commented on #18
I'm happy to work on this too if no one else pick up :)

[2019-10-24 04:31] peoray commented on #11
I'll pick this up :)

[2019-10-24 04:44] lpatmo opened #35 "Extract data from meta tags after users shares a URL to submit as a resource"
When I paste a resource URL to the /resources submission page, I want the resulting behavior to be similar to what I see if I share a link on Slack or Facebook:

- image (if it exists) gets pre-filled
- the title gets pre-filled
- the description gets pre-filled
- the user can fill out an additional review about what they thought of the resource, and give it a star rating

Steps:
- create a `Resou

[2019-10-24 05:25] peoray commented on #35
This sounds interesting. Might want to have a go at it if no one is indicating interest

[2019-10-24 05:56] lpatmo commented on #35
Thanks @peoray! As a first step, maybe you could research JS libraries that help extract data from meta tags :)

[2019-10-24 18:25] chris48s commented on #35
This library is a good base for implementing this feature: https://github.com/jacktuck/unfurl

[2019-10-24 19:30] peoray commented on #35
Thanks @chris48s , I'll take a look

[2019-10-25 03:34] helenzhao093 commented on #32
@lpatmo let me know if i can help out

[2019-10-25 03:52] lpatmo opened #37 "Research React calendar widgets for the /hangout proposal form"
We need to research a React calendar widget that we could use for the hangout submission form.

[2019-10-25 12:13] mazma1 commented on #16
Hi @lpatmo, I'm close to wrapping this up. Do you have any preferred package I can use for the `tags` UI component?

[2019-10-26 05:14] lpatmo commented on #16
@mazma1 Sorry for the slow reply! I was thinking of https://material-ui.com/components/chips/ for the tags component. :) Thank you for the PR -- will review tomorrow!

[2019-10-29 08:18] lpatmo opened #41 "Fix link to /resources on "submit resource" page"
Not sure if we're missing an import of react-router-dom or something, but the link at https://cb-react-concept.netlify.com/submit-resource appears broken.

Guessing this'll be a relatively straightforward fix, but haven't dug into this closely.

[2019-10-29 08:24] havenchyk commented on #41
Let me try to fix it @lpatmo

[2019-10-29 08:26] havenchyk commented on #41
@lpatmo seems everything working smooth, could you please clarify, which link at which page is broken?

[2019-10-29 09:37] havenchyk commented on #41
@lpatmo https://github.com/codebuddies/react-concept/pull/42

[2019-10-29 09:48] havenchyk commented on #16
@lpatmo can be closed

[2019-10-29 09:49] havenchyk commented on #27
seems can be closed :)

[2019-10-29 09:50] havenchyk commented on #26
can be closed :)

[2019-10-29 18:55] #27 closed

[2019-10-29 18:56] #16 closed

[2019-10-29 18:58] #26 closed

[2019-10-29 19:15] wuworkshop opened #43 "Add GitHub Issue and PR Templates"
Judging from some of the PRs that have been received so far, this repo could really use a PR template. An issue template would also be nice to have.

The PR template should be easy for the contributor to fill out and make use of GitHub keywords for closing issues.

See this GitHub Help article for the keywords:
https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-key

[2019-10-29 19:26] nehayward commented on #43
I'll get started on this.

[2019-10-29 19:27] nehayward commented on #43
Any idea on what you'd like for copy write

[2019-10-29 19:35] cptcrunchy commented on #31
I've looked into some OSS WYSIWYGs in the past. I'll take this one please and see what I can find

[2019-10-30 04:23] lpatmo commented on #43
@wuworkshop Thanks for filing this issue!

[2019-10-30 04:30] lpatmo commented on #31
Thanks @cptcrunchy! Let me know if you have questions!

[2019-10-30 04:32] lpatmo commented on #18
1/ Tags
2/ Learning notes
3/ Hangouts proposed / Hangouts completed
4/ Questions / # resolved

-----
The above piece still needs to be tackled. Might do this myself if no one else (or @rozenraymond) claims it.

[2019-10-30 04:33] #14 closed

[2019-10-30 04:34] lpatmo commented on #11
@peoray If you have suggestions for the hex color of links, feel free to share here. :)

[2019-10-30 06:44] rozenraymond commented on #18
happy to claims this issue 😃

[2019-10-30 07:42] lpatmo opened #45 "[React] Create the skeleton for a Discussion component"
We don't need any functionality for now, but would be nice to have the skeleton for a `Discussion` component set up:

![image](https://user-images.githubusercontent.com/4512699/67838042-aec5de00-faad-11e9-956f-d27df33be221.png)

Specs:
- Input box with checkboxes offering three options (hangout proposal, question, pinned message) below
- Each message above should allow for threaded replies (think:

[2019-10-30 07:45] lpatmo commented on #17
Re: implementation -- we'll need to write a `search` function that filters data based on either the `title` or `description`. Then we'll need to update a `searchResults` state and have the output of resources on the screen reflect whatever is in `searchResults`.

[2019-10-30 08:24] lpatmo opened #46 "[React] Create a /coworking route"
At the moment, the 24/7 coworking space link leads nowhere:

![image](https://user-images.githubusercontent.com/4512699/67840541-598ccb00-fab3-11e9-99d2-0ba762b8bc68.png)

Requirements:
- Create a /coworking route that renders a new <Coworking /> component
- Keep the personal menu appearing on the left
- On this new page, show three options: 1/ 24/7 speaking-OK hangout; 2/ 24/7 silent hangout; 3/

[2019-10-30 09:16] havenchyk commented on #46
@lpatmo could you please clarify what are two blocks on the left, what will be placed there in the future?

[2019-10-30 17:02] nik72619c commented on #45
I'd like to work on this one

[2019-10-30 19:10] wuworkshop commented on #45
@nik72619c All yours. 👍

[2019-10-31 00:14] #41 closed

[2019-10-31 00:31] lpatmo commented on #46
@havenchyk Thanks for asking! Am thinking each block on the left would have a "Join room" button, which when clicked on would open up a meet.jitsi.com iframe (or Zoom hangout, if we decide to pay for the Zoom API in the future).

This page is basically the second iteration of https://codebuddies.org/coworking, which has description text we can re-use. :)

The main difference is that instead of off

[2019-11-01 05:09] #43 closed

[2019-11-01 19:10] peoray commented on #11
@lpatmo, I have a couple I have found so far:
- #00008b
- #6807f9
- #3e64ff
- #003366

Also, this link has some variants, if you can take a look and see if you like anyone
[Color hexa](https://www.colorhexa.com/00008b)

[2019-11-01 19:11] peoray commented on #35
@lpatmo I looked at the package Chris linked above, seems good enough. What do you think?

[2019-11-02 20:26] #46 closed

[2019-11-02 20:57] lpatmo commented on #35
Looks good! Looks like you can install it with `npm install unfurl.js`. Can you create a branch for this work?

[2019-11-02 20:58] lpatmo commented on #11
@peoray Thank you! Let's go with `#00008b` for now. :)

[2019-11-02 22:06] peoray commented on #35
Sure, will do. Although, I;ll be needing plenty of assistace. Still not familiar wth the new React APIs and Material UI :)

[2019-11-02 22:06] peoray commented on #11
How does this get applied? Your suggestion of using `App.css` is vague. Can you be more elaborate please :)

[2019-11-03 19:08] lpatmo commented on #11
@peoray I was thinking you'd add `a:link` and `a:visited` styles to the `App.css` file so that they'd be global. Just realized we didn't actually come up with a color for a:visited yet... maybe `#6807f9` for a:visited?

[2019-11-04 06:16] lpatmo opened #50 "Create routes for each /resources/{id} page"
**Is your feature request related to a problem? Please describe.**

Each resource card should have its own page.

Route example:

/resources/{id}

[2019-11-04 23:48] claucvk opened #52 "Create user stories to propose project features and functionalities aligned to the user's needs and their goals"
User stories are often expressed in a simple sentence, structured as follows:

“As a [person in a particular role], I want to [perfom an action or find something out], so that [I can achieve my goal of].”

Steps:

1) Identify the different users and their corresponding characteristics. Ex: role in the platform, tasks to perform, age, coding experiencing... Gather any information that could be help

[2019-11-05 04:17] lpatmo commented on #52
Thank you for writing this up, @claucvk! :)

[2019-11-05 13:46] peoray commented on #11
Alright, will do :)

[2019-11-05 19:33] bkbuilt opened #54 "Remove timestamps from /resources page"
For resources page, styling is messed up in Firefox (such as timestamps). However, it displays properly in Chrome.

[2019-11-06 05:17] #50 closed

[2019-11-06 05:38] lpatmo opened #55 "[React] Post a resource"
**Is your feature request related to a problem? Please describe.**
Mock posting a resource from https://cb-react-concept.netlify.com/submit-resource

See: https://egghead.io/lessons/javascript-creating-demo-apis-with-json-server

**Describe the solution you'd like**
1. User fills out the fields and clicks on "submit", and sees a success message
2. User is redirected to /resources
3. User sees the

[2019-11-11 10:16] peoray commented on #54
@bkbuilt I can't reproduce this issue. Can you send a screenshot of your browser?

[2019-11-17 20:12] peoray commented on #55
@linda have you seen this?
https://fakejson.com/

[2019-11-17 21:50] lpatmo commented on #55
@peoray We're using https://github.com/typicode/json-server right now, which is similar, except our DB lives in `db.json` flie. :)

I've got most of the steps working in the branch `issue-55`, but haven't had time to do form validation and display the success message yet. Feel free to take a look if you're interested!

[2019-11-19 15:53] peoray commented on #55
Cool, will definitely take a look. Is it possible for two people to work on the same branch?

[2019-11-25 17:53] wuworkshop commented on #55
@peoray Sorry for the late reply. Yes, it is possible for two people to work on the same branch. Since @lpatmo pushed her branch up to GitHub here https://github.com/codebuddies/react-concept/tree/issue-55, you should be able to `checkout` that branch and work on it.

[2019-11-30 14:15] peoray commented on #55
I'm trying to do this but it doesn't work
[code]
Btw, my repo is up to date with the main repo

[2019-11-30 18:32] lpatmo commented on #55
Sorry about that. Will take a look when I get back to my computer tonight!

On Sat, Nov 30, 2019, 9:15 AM Emmanuel Raymond <notifications@github.com>
wrote:

[2019-12-01 00:38] lpatmo commented on #55
@peoray Does `git remote -v` alreutady point to an upstream that's this repo? You'll probably have to `git fetch upstream` before you can check out the branch. Let me know if that works!

[2019-12-02 13:01] peoray commented on #55
I already have it as an upstream and I'm using `pull` instead of `fetch`, does that mean a difference?

[2019-12-19 07:47] lpatmo commented on #55
@peoray Sorry I missed your comment! Can you share what you see when you type `git remote -v`? Or did you already figure this out?

[2019-12-19 12:31] peoray commented on #55
[code]

[2019-12-20 01:46] lpatmo commented on #55
@peoray I think if you `git pull upstream` and then `git checkout issue-55` you should be able to see the branch.

[2019-12-20 03:44] lpatmo opened #64 "[React] Signup and login forms"
## Context
We need signup and login forms on the React app

## Acceptance criteria
[ ] http://localhost:3000/login shows a login form with fields `username` and `password`
[ ] http://localhost:3000/signup shows a signup form with fields `username` and `password`
[ ] Submitting the form on http://localhost:3000/signup makes a POST request to the `http://127.0.0.1:8000/auth/users/` URL, and returns

[2019-12-20 11:00] peoray commented on #55
Still not working...:(

![gh1](https://user-images.githubusercontent.com/23735423/71250578-47474480-2320-11ea-8f2d-165b4d219339.png)
![gh-2](https://user-images.githubusercontent.com/23735423/71250580-49110800-2320-11ea-9b92-5242e3c3f745.png)

[2019-12-22 07:05] lpatmo commented on #55
@peoray Thanks for sharing those screenshots! Can you try `git checkout origin/issue-55`?

[2019-12-22 12:04] peoray commented on #55
Still doesn't work. Still not sure if the issue is from my side or not. I'd love for someone else to try and see if it will work on their end

[2019-12-23 03:17] wuworkshop commented on #55
@peoray Looking at your screenshots, you didn't quite follow exactly what @lpatmo had written. She wrote `git pull upstream`. In your screenshot, you wrote `git pull upstream master`. Adding the `master` part will only pull in changes from upstream's `master` branch.

I just tested this out in my own fork. Here are the exact steps to follow to update your fork with all the branches in the upstream

[2019-12-23 03:22] wuworkshop commented on #55
@peoray btw, since you asked this question:

There is actually a difference between `git pull` and `git fetch`.

References:
https://git-scm.com/docs/git-pull

[2019-12-23 15:54] peoray commented on #55
Thank you @wuworkshop. That was the problem. It's working now :)

[2019-12-23 16:15] peoray commented on #55
@lpatmo What do you have in mind as regards how to handle the validation?

[2019-12-24 09:21] lpatmo commented on #55
@peoray I'm thinking of using `react-form-hooks`, based on this article:
https://blog.logrocket.com/react-hook-form-vs-formik-a-technical-and-performance-comparison/

A relevant thread: https://github.com/mui-org/material-ui/issues/18269

I'm actually curious if anyone else has recommendations for validation with Material-UI too!

[2019-12-25 19:46] BethanyG commented on #64
Assigning myself to this as well.  Will be making a branch `issue-64-extended` to test "wiring up" these forms to the DRF backend.

[2020-01-01 22:01] peoray commented on #55
Okay. If this is fine with everyone, I'd like to start working on this issue

[2020-01-31 19:45] sebbel commented on #55
@peoray hey do you need help to get started? We could pair on this if you'd like :)

[2020-01-31 19:45] sebbel commented on #64
hey @BethanyG would you need help on this?

[2020-02-01 06:09] sebbel opened #71 "Utilize storybook to help with component development"
Hey, I used storybook at work and really liked it as a tool to work on isolated components for features.
It solves the need to have the full app running or creating certain conditions... because you can just pass in whichever prop you want.

https://storybook.js.org

[2020-02-01 15:11] peoray commented on #55
@sebbel that would be awesome. Just sent you a message on slack :)

[2020-02-02 06:29] lpatmo commented on #3
The landing page/home page UI could use some deeper thinking and discussion, but in the meantime, putting up something would be better than the blank page right now, so am keeping this issue open. :)

[2020-02-02 06:33] lpatmo commented on #4
We have a search component on http://localhost:3000/resources, but it should ideally make a POST request to the search endpoint on DRF whenever a user enters a key.

[2020-02-02 06:33] #11 closed

[2020-02-02 06:34] #12 closed

[2020-02-02 06:34] lpatmo commented on #13
(Closing, since we have a `PersonalMenu` component now!)

[2020-02-02 06:34] #13 closed

[2020-02-02 06:35] lpatmo commented on #17
Update: closing this in favor of #4

[2020-02-02 06:35] #17 closed

[2020-02-02 06:44] lpatmo commented on #32
Closing this issue based on some new UI thinking... specifically that hangouts could be proposed _for_ a resource, _for_ a project, _for_ a group, etc.

![image](https://user-images.githubusercontent.com/4512699/73604350-3f480a80-4544-11ea-88c4-8884be3e795c.png)

Will open a new issue when the specs are more clearly defined!

[2020-02-02 06:44] #32 closed

[2020-02-02 07:12] lpatmo commented on #52
I wrote up a quick draft doc of user personas: https://docs.google.com/document/d/1gA25rlMv91sIEufohZKewHVegHPecSArb35K6NIJcPA/edit

![image](https://user-images.githubusercontent.com/4512699/73604609-57218d80-4548-11ea-907a-91f56bfe99bf.png)

[2020-02-02 12:03] jesperhodge opened #73 "Refactor styles to be consistent"
Since this project is intended to use Material ui with styled components, let’s also replace the css files with styled components.

[2020-02-02 12:04] jesperhodge commented on #73
I’ll do this if it’s approved for doing

[2020-02-02 15:49] lpatmo commented on #73
Question on global styles: do you think we may need some for things like

[code]
a:link {
  color: #00008b;
  text-decoration: none;
}

a:visited {
  color: #6807f9;
}
[code]

[2020-02-02 17:11] jesperhodge commented on #73
Well I think it does make sense to keep some global styles, but I would scope things to respective components / Material UI elements wherever possible, and also scope some things to `App`. The nice thing is that you can still add things like `a:link { }` inside the styled component for App then, normal nesting works perfectly fine with styled components, and you can also override it wherever you n

[2020-02-02 17:15] jesperhodge commented on #73
One of the benefits is that in that case, we can for example scope `a:link` to `App` - then instead of having a hardcoded color we set different color variables (like `codebuddies-green`, `codebuddies-red`) and we can just do stuff like `a:link { color: ${ codebuddies-red }; ` and that can even be changed dynamically in javascript (for example you click a button and cause your styles to change eve

[2020-02-02 17:20] jesperhodge opened #75 "Experimentally add a GraphQL client as proof of concept"
There has not been a final decision on going with REST or GraphQL, but I think it would just be interesting to add a GraphQL client to a frontend branch and a GraphQL library / endpoint to the backend, just to see how that works out. It's just an idea to do that as an experiment or proof of concept and see if it makes sense.

I will probably just add apollo client in a branch here and see how that

[2020-02-03 01:28] lpatmo commented on #73
Cool, thanks for clarifying! Feel free to go ahead :)

[2020-02-03 19:29] jesperhodge commented on #73
I opened this issue based on what I saw in the code (e.g. `App.css`) and my (mistaken...) memory that Material uses styled components. Anyway, I checked how Material UI works together with Styled Components.

I realized that Material UI uses their own styling solution that is very similar to Styled Components, and the nice thing is that they expose it for us to use and have a nice documentation. I

[2020-02-03 19:45] lpatmo commented on #73
Sounds good! I totally misremembered that material UI uses styled
components too, but is actually not exactly styled components but something
very similar.

On Mon, Feb 3, 2020, 11:29 AM Jesper Hodge <notifications@github.com> wrote:

[2020-02-03 22:06] jesperhodge commented on #75
I'll close this issue for now as this is so uncertain if we are even looking to go into this direction. I can make an experimental pull request anyway if I come up with anything feasible at all.

[2020-02-03 22:06] #75 closed

[2020-02-05 09:19] tgrrr opened #76 "Restructure folders"
Here's the folder structure that I'm suggesting to implement:

[code]

Each Component/Page would have the structure:

[code]

Cheers,

Phil

[2020-02-05 19:34] BethanyG commented on #64
Apologies for the slow response!

Yes - help to think through this would be great.  Since we're starting to have discussions around possibly adding social auth, this might now be less straightforward than simply "hooking up" the backend....although hooking up the backend as-is would also be a great first step.

The backend **asks** (a POST with new user info)/**checks** (a POST with existing user

[2020-02-06 08:52] lpatmo commented on #64
Thank you for the detailed notes!

From a product perspective, probably the most important social auth to support is GitHub; I don't think we need to prioritize others, tbh. :) Can file that issue when this particular flow (signup with username/password) is implemented.

Unrelated: some folks were interested in magic links -- I can start a separate issue thread to discuss that too!

[2020-02-06 08:54] lpatmo opened #77 "[Discussion] Signup magic links"
**Is your feature request related to a problem? Please describe.**

Magic links where user would input their email and get a link to signup

Let's discuss advantages/disadvantages, including:
- Can signup magic links exist alongside a normal username/password flow?
- Can they exist alongside GitHub auth?
- What would the implementation look like?

[2020-02-06 09:28] lpatmo commented on #76
Thank you for this sketch, @tgrrr! :) I have a couple of questions, if you don't mind helping me broaden
 my understanding:

1/
[code]
Do we need this folder if our components are mostly going to be imported from `from "@material-ui/core";`?

2/ What is "store"?  `store/ <- option #1 to be fleshed out`

3/ Why do we need both a `ComponentNameContainer.js` and an `index.js`?

4/ (Unrelated) What ar

[2020-02-08 08:44] tgrrr commented on #76
**Do we need this folder if our components are mostly going to be imported from from "@material-ui/core";?**

I'd say yes.

Firstly, because it's DRY-er.

Also if:

- We have a bug in our `Button` component
- We upgrade a component. Eg. We add icons to our buttons
- We changed the very excellent material-ui library for another
- The requirements change
- We want to add a test wrapper `<div data-te

[2020-02-08 09:01] lpatmo commented on #76
1/ ![image](https://user-images.githubusercontent.com/4512699/74082230-cc8bd300-4a0c-11ea-833a-e0a8a1bcee3e.png)
Okay, I am 😍. That makes sense, thanks for the example!

2/  > Are we going to use Redux/similar?
Ah, understood now. Hmm, maybe this warrants a larger/separate discussion, but leaning towards "not unless we obviously need it." I'm not convinced we do yet.

3/ Hmm, so:
[code]

I'm not u

[2020-02-08 09:10] tgrrr commented on #76
**1/ & 3/** I was having a look at the other issues, and the folder structure would also help with [Storybook](https://github.com/codebuddies/react-concept/issues/71) which is @sebbel 's suggestion here https://github.com/codebuddies/react-concept/issues/71

**2/** I don't think Redux is necessary yet either

**3/** It's similar to your `Button/ -> index.js + ButtonStyled.js`
with the addition of

[2020-02-08 12:44] jesperhodge commented on #76
I haven't worked with Redux yet, but it seems to add a lot of complexity and even for huge production apps I don't see many benefits any longer (we have context for state management - sure, that can get a bit unorganized, but only if the code structure we build is not so good.)

I absolutely suggest also to split presentational and container components. That can help immensely to keep code organiz

[2020-02-08 12:45] jesperhodge commented on #76
So as for the proposed folder structure, I really like it and as it is so important to organize React code well - playing a big factor in the success or failure of projects even - I strongly recommend either using the proposed structure, or coming up with something similar at least.

[2020-02-08 13:29] jesperhodge opened #78 "Please help and add prettierrc"
I have a problem because you are using prettier in this project, but there is no explicit prettier config file right now. That means that my formatting will default to my default system prettier config, which is very different (I don't use semicolons in other projects for example!). That really keeps me from being able to submitting any code right now. Can you please fix this?

[2020-02-08 13:32] jesperhodge commented on #3
What are your plans on how to do this? Using React for a landing page is not advisable because of SEO and performance and so on. I can recommend Gatsby so then maybe we can also use some of the Material UI components. Probably it should be a separate project I guess?

[2020-02-08 14:09] jesperhodge commented on #73
@lpatmo I'm kind of quick to be confused with a new codebase, I somehow misunderstood how the Material UI styles were added in the first place (you are after all using their hooks API), so I made a few silly statements in here, but I'm learning. So I'm still going to work on the `App.css` file to make stuff consistent with this, I think the Pull Request will explain and make more sense when I'm re

[2020-02-08 15:25] sebbel commented on #76
I like to have my tests next to my components as well, but thats just me.

[2020-02-08 16:02] angelocordon commented on #76
Thanks @tgrrr for writing up this issue and facilitating the discussion 🙏🏽🙏🏽 And for everybody else participating so far!

Re: Redux - I think we should use it over Context because Context,
while so much simpler to use with hooks, forces your child components to rerender when the data inside a context changes. I don’t think there’s anything wrong with using Context but we should be more selective

[2020-02-08 16:08] angelocordon commented on #78
Thanks @jesperhodge! Good call out, will check it out.

[2020-02-08 16:14] angelocordon commented on #3
Not terribly concerned with SEO yet but I am vetting SSR with NextJS currently. Will also need to vet Now against Netlify (our current host)

[2020-02-08 17:47] lpatmo commented on #76
lol, all the opinions!

@tgrrr I think you can continue with your original proposal. I think we're
all in agreement on using hooks, but we can discuss these things later:

- redux
- test files in their separate folder vs next to each component
_ a separate UI folder

Priority with the UI now is figuring out what exactly we want in the UI so
I plant to focus on that, although I appreciate that you'

[2020-02-08 17:53] lpatmo commented on #3
@jesperhodge That makes sense as we scale, thanks for pointing that out! I
think the first thing we need to draft out is what we want in the landing
page in the first place, heh -- and that ties in with design and user
research work that we don't have as much capacity in.

Feel like we all have a vague and possibly different idea of what we're
building without high quality mockups but that's ok, w

[2020-02-08 17:54] lpatmo commented on #78
Oops, sorry about that -- thanks for looking into this, Angelo!

[2020-02-09 03:10] tgrrr opened #80 "UX design for study-groups landing-page: organise groups by coding language/topics/tags/onboarding questions"
So... I was thinking about the layout of the **study-groups**  landing page, and sometimes we have _different_  study-groups for the _same_  language.

Eg. Two different groups following through two different but equally excellent tutorials for the same language.

It would be _choice as bro_ if we could gather together group using similar languages. Eg. JavaScript together, Python together, Go tog

[2020-02-09 03:27] tgrrr commented on #76
Similar to @angelocordon, a big thanks to everyone who is contributing to this conversation! If you know me well, I don't use exclamation points lightly.

Re: Cypress: It automatically adds its own `/Cypress` folder outside of `/src`. It looks possible to customise the integrations folder in cypress config with `integrationFolder` see: https://docs.cypress.io/guides/references/configuration.html#O

[2020-02-09 03:29] tgrrr commented on #76
Do we need a `/helpers` folder?

[2020-02-09 03:32] angelocordon commented on #76
Cool, if Cypress by default adds it there, let’s keep it there. The less configuration we have to do in this step, the better (save you some headache).

I’d also suggest that we don’t preoptimize too much at this stage - let’s add folders when we have use for them 👍🏽

[2020-02-09 09:33] angelocordon commented on #71
Merged with #72

[2020-02-09 09:33] #71 closed

[2020-02-09 09:42] angelocordon opened #82 "Add missing PropTypes for components"
## Context
Currently, we have two files where we are missing prop types (Resources/ResourceCard.js and Resources/ResourcePage.js). These can be found by running `npm run lint` and it should show what is currently missing. At the time of this writing, the missing prop types are:

[code]

## Implementation
1. Run `npm run lint` and find out which components have missing prop types
1. Address missing

[2020-02-09 09:49] angelocordon opened #83 "Set up CI pipeline"
## Context
Set up a CI pipeline that runs Jest and ESLint on Pull Requests to master.

## Acceptance criteria
- [x] Github Actions should be running on pull requests to master to verify that tests pass along with ESLint.

[2020-02-09 09:52] angelocordon commented on #83
Looks like their open source platform might be migrating to their .com site? https://devops.stackexchange.com/questions/1201/whats-the-difference-between-travis-ci-org-and-travis-ci-com/4305

Unsure if it's worth going ahead and signing up for their Open Source Tier in their .com site or keep using their .org platform

[2020-02-09 09:56] angelocordon commented on #83
@sebbel let me know if you make some headway with Github Actions and we can update this issue to reflect that.

[2020-02-09 19:02] #78 closed

[2020-02-15 08:01] tgrrr commented on #83
Ive had a better experience with CircleCI

[2020-02-16 00:51] lpatmo commented on #83
@tgrrr Curious if you could expound on some of the benefits you've had working with CircleCI vs TravisCI. Thanks!

[2020-02-16 02:34] tgrrr commented on #83
Hi Linda,

I've just found the cli, the website's UI, and integrations simpler.

It also seems to be the industry standard down here.

[Here's a fairly good comparison[(
https://hackernoon.com/continuous-integration-circleci-vs-travis-ci-vs-jenkins-41a1c2bd95f5
)

Cheers

On Sun, 16 Feb 2020, 8:51 am Linda, <notifications@github.com> wrote:

[2020-02-16 17:06] sebbel commented on #83
@tgrrr thanks for chiming in. We were looking to use github actions, because then we'd have code and lints/tests on github. Do you have thoughts on that?
Else, I'd +1 on circleci, I was faster to get up to speed with it.

[2020-02-16 22:06] angelocordon commented on #83
I'm open to any so long that something is running our tests! :)

We've used Travis before for our past CB projects and had a pretty easy setup. I've used CircleCI for past professional work, but I'm not sure what their open-source plan is in comparison to Travis (and GitHub actions).

[2020-02-17 00:17] lpatmo commented on #83
Ahh, I didn't even realize that Github Actions is a new thing that is competing directly with services like CircleCI or TravisCI. Whoops.

I'm still uncertain whether it would be better to run tests on Github Actions or during the Netlify build. Anyone have experience with this?

https://community.netlify.com/t/guide-for-deploy-using-github-actions/2981
https://community.netlify.com/t/common-issue

[2020-02-17 09:08] angelocordon opened #85 "Set up Jest with Babel, and React Testing Library"
## Context
We're not able to use ES6 imports with Jest. We need to configure Jest to be used with Babel.
Configure the project to use React Testing Library with Jest.

## Acceptance criteria
- [x] Be able to use ES6 imports in test suites
- [x] Have tests with Jest + React Testing Library for AuthForm components.

[2020-02-17 13:58] tgrrr commented on #85
There's a separate thread about writing tests with Cypress, btw. Including
Jest syntax in Cypress.

On Mon, 17 Feb 2020, 8:08 pm Angelo Cordon, <notifications@github.com>
wrote:

[2020-02-17 14:10] tgrrr commented on #83
IMHO, we should use CI similar to git flow.

Ie. We can automatically run tests by merging a PR into a dev branch which
should run tests/lint/etc with some kind of CI (CircleCI/TravisCI/Github
actions/gitlab CI).

After tests have passed, it should then trigger a Netlify staging site.
Seriously, it generates a custom staging site for every git push. [Details
here](https://www.netlify.com/products/

[2020-02-18 00:46] angelocordon commented on #85
Hmm, which thread is that? Is that an active issue somewhere?

[2020-02-18 00:48] angelocordon commented on #83
Yup, I believe that's the idea.

[2020-02-19 07:22] billglover commented on #83
It would be very useful if we could spit out a Docker image containing the latest front end. Would love to include this as part of the local back end set up for the following reasons:

- Backend contributors can see latest front end without installing or understanding build process
- Contributors can have a fully functioning version of CB on my laptop and work offline

Ideally this should be spat

[2020-02-19 07:23] billglover commented on #83
**Note:** codebuddies/backend is using GitHub actions for running tests and builds on PRs

[2020-02-19 08:03] #3 closed

[2020-02-19 08:05] lpatmo commented on #76
I think we should tackle this soon. I'm itching to add to the prototype a bit more, and would be good to have this structure in beforehand.

[2020-02-20 23:38] angelocordon commented on #76
Agreed - maybe we can start small if this issue is too big. I think just having a separate `/pages` folder from `/components` would be a huge unblocker, tbh. As we're about to start handling routing and authentication, that would be a huge help. We can worry about handling all the other cases in separate issues later.

Do you think that would make this easier @tgrrr?

[2020-02-20 23:43] angelocordon commented on #73
I was looking over the styles API from Material the other day and I don't particularly love it... I thought we had StyledComponents initially, but maybe that was not implemented. @jesperhodge, I'd like to look into a way where we can implement global styles and pass that down to Material. Alternatively, if it's better to just have StyledComponents in the first place, that would be grand.

Would yo

[2020-02-21 16:36] bkbuilt commented on #54
<img width="1680" alt="Screen Shot 2020-02-21 at 11 34 19 AM" src="https://user-images.githubusercontent.com/50244206/75052895-5bcdc780-549e-11ea-9e2f-28d22c5a0a52.png">

[2020-02-25 10:22] tgrrr commented on #76
I'm currently working on this @lpatmo

[2020-02-26 01:29] peoray commented on #82
@angelocordon will the `id` be a string or a number. Currently setting it as a string

[2020-02-26 03:42] angelocordon commented on #82
`id`s will be numbers coming from the backend in this case

[2020-02-28 20:48] #82 closed

[2020-03-01 19:37] lpatmo opened #89 "Privacy Policy / data retention message to users"
## Context
Q from #codebuddies-meta: if a user posts a resource and they want to delete it, does discussions from that resource go away also?

A: The resource and discussion will remain, but the original user will become anonymized

In our Django app, we're following what Slack does, which is: `on_delete=django.db.models.deletion.CASCADE`, meaning the data gets reflected to an anonymous/fixtured d

[2020-03-01 19:40] lpatmo commented on #89
Closing since @angelocordon had opened up https://github.com/codebuddies/backend/issues/95 first.

[2020-03-02 16:00] #85 closed

[2020-03-02 16:01] #89 closed

[2020-03-03 15:30] jtanadi commented on #31
I recently stumbled on [quill](https://quilljs.com/), so adding that to the mix. There's a React component available [here](https://github.com/zenoamaro/react-quill).

[2020-03-07 04:41] angelocordon commented on #77
@lpatmo - let's move this discussion to the backend repo - I think most implementation would be handled by the API for this. Additionally, can we opt out of social auths for now until a stable release comes out?

[2020-03-07 06:21] lpatmo commented on #77
Yep!

Yeah, makes sense to have the implementation discussion be for `backend`. Btw also don't think we need to pursue it right now (in terms of priority issues), unless someone has an interest.

[2020-03-07 21:17] angelocordon commented on #77
Moving to https://github.com/codebuddies/backend/issues/101

[2020-03-07 21:17] #77 closed

[2020-03-08 15:45] #83 closed

[2020-03-08 16:47] angelocordon opened #92 "Add Dockerize version of the API"
When working on the frontend and for testing, it would be helpful to have a deployable, stable version of the API locally. This is so that we can ensure that our API endpoints are working as expected from the frontend's perspective as well as when testing, we can have a working API endpoint for e2e tests.

[2020-03-08 17:00] angelocordon opened #93 "Add Form Validations to AuthForms"
Auth Forms should validate required fields and types based on what the API expects to have.

[2020-03-08 17:01] angelocordon opened #94 "Add monitoring tool for frontend bugs"
Look into setting up Sentry or Bugsnag (check to see if they have open-source plans first)

[2020-03-08 17:16] angelocordon opened #95 "Move Linting Tests to a separate Github Action"
Currently, the Linting step runs sequentially after the Jest test. If Jest fails, ESLint does not run at all. It doesn't look like we're able to run these steps in parallel but instead should probably have it as a separate job altogether.

[2020-03-08 22:16] billglover commented on #92
It is currently possible to run any version of the API locally for testing. I would like to focus discussion on what the expectations are for a stable API and how change should be approached.

[2020-03-09 05:03] wuworkshop commented on #94
Bugsnag has an open-source plan. Apply here: https://www.bugsnag.com/open-source

Sentry's code is open-source: https://sentry.io/_/open-source/

[2020-03-10 05:44] lpatmo opened #96 "Define the JSON for a resources page"
## Context
We iterated a bit on the design for a product page and landed on this:
![image](https://user-images.githubusercontent.com/4512699/76283256-68506f00-6257-11ea-8359-29849d6bcb01.png)

Currently, our JSON for a GET request to a /resources/{resource_id} endpoint looks like this:

![image](https://user-images.githubusercontent.com/4512699/76283300-84eca700-6257-11ea-87f3-371bdc7af18e.png)

#

[2020-03-10 05:58] lpatmo commented on #45
Closing this issue in favor of https://github.com/codebuddies/frontend/issues/96, since the design has changed.

[2020-03-10 05:58] #45 closed

[2020-03-11 07:46] lpatmo opened #97 "Hangout user flow"
Logging notes here.

[2020-03-11 07:48] lpatmo commented on #97
Logging a discussion thread @sunu and @BethanyG and I just had on Slack re: terminology around how to describe the different sorts of hangouts:

`meet` -> schedule a meeting to do anything really (probably study group), either private or public
`pair` -> 1:1 usually, but you can optionally make it open to observers
`hack` -> work on open source project together (?)
`demo` -> show off your projects

[2020-03-11 07:50] lpatmo commented on #97
On our [figma](https://www.figma.com/file/wXMeX9xgYTcVKNJ1XT9ZQ5/cbv3poc?node-id=0%3A1), I also documented the different types of situations a user might find themselves starting or stating their interest in a hangout.

[2020-03-11 07:53] lpatmo commented on #97
Some really nice icons we can use to reflect public vs. private, silent vs. non-silent etc. hangouts: https://thenounproject.com/ (h/t @BethanyG and @wuworkshop)

[2020-03-11 08:21] lpatmo opened #98 "GROUP BLOG EXPERIMENT"
## Why?
Every so often, it's helpful to jot down some retrospectives about what we've learned/what wee accomplished/challenges we're facing.

Since it can be hard to schedule a good meeting time that works for everyone, this group blog experiment also serves as an asynchronous supplement to group roadmap meetings.

## What can I post here?
Please post using one of the following two templates:

[co

[2020-03-22 16:58] angelocordon commented on #97
If we're going to use icons, I'd prefer we use an icon set to enforce consistency (both visually and code).

https://ionicons.com/
https://feathericons.com/
https://fontawesome.com/

[2020-03-30 07:08] lpatmo opened #100 "Display user profile data on profile page"
## Context
On the profile page, we should display some information about the user that is logged in.

## Acceptance criteria
[ ] Make GET request to /users/{user_id} endpoint
[ ] Display user's email, name, username, introduction, and other relevant fields on the page.

## Notes:
- This ticket should be implemented after the backend work in https://github.com/codebuddies/backend/issues/118 is done

[2020-03-31 02:43] #64 closed

[2020-04-01 06:02] lpatmo commented on #93
Cross-posting a comment I made in #55 re: validation libraries --

I'm thinking we could use react-form-hooks, based on this article:
https://blog.logrocket.com/react-hook-form-vs-formik-a-technical-and-performance-comparison/

A relevant thread: mui-org/material-ui#18269

Was curious if anyone else had recommendations for validation with Material-UI too! I asked this on Slack in the #reactjs chan

[2020-04-01 12:07] peoray commented on #93
I'm familiar with Formik and Yup. Which one should I go on with. React hooks form looks promising also.

[2020-04-01 19:12] angelocordon commented on #93
Based on that blog post from @lpatmo, I'm inclined to lean in on React Hook Form. I haven't played around with it yet, but might be worth experimenting with it @peoray 👍

[2020-04-06 07:02] lpatmo opened #101 "GET resources from the Django API localhost:8000; don't rely on db.json"
## Context
Right now, the /resources page on https://cb-react-concept.netlify.com/resources is consuming from a db.json file. Let's have it consume from a copy of localhost:8000 instead!

## Acceptance criteria
[ ] Get a list of resources from localhost:8000

[2020-04-21 04:34] lpatmo commented on #92
I think we can close out this issue! I recorded a quick video here on how to get the local version of the API up and running with the frontend simultaneously: https://www.youtube.com/watch?v=t43vYwxzG-E

Re: expectations for a stable API -- we covered our expectations for what we need for the MVP in a late March meeting (https://github.com/codebuddies/backend/issues/94#issuecomment-602261487), and

[2020-04-21 04:34] #92 closed

[2020-04-21 05:02] lpatmo commented on #96
We're holding on this -- I think for now, we just want to turn the existing JSON blog into something that reflects resources, with an `edit` button. :)

At the meeting in March, folks asked that we revisit the discussion component feature.

[2020-04-21 05:09] lpatmo opened #103 "Implement a single resources page"
## Context
We return the JSON in a GET request to a /resources/{resource_id}, but we should turn this into HTML. :)

## Acceptance criteria
[ ] Turn JSON into HTML
[ ] Add an "edit" button that only the user who created the resource should see (we can add the functionality later)

[2020-04-21 05:11] lpatmo opened #104 "Implement pagination on the /resources page"
## Context
At the moment, we're returning all resources on the /resources page.

When we make a GET request to /resources, the response looks something like:

[code]

## Acceptance criteria
[ ] Implement pagination -- the user should be able to click on "next" or "previous" to go to the next or previous pages.

[2020-04-26 07:14] angelocordon opened #110 "[TBD] Add documentation around Github actions"
## Context
As a contributor, we'd like to know how Github actions work, and what it means for our code. Having some kind of documentation around how this gets triggered and what it does for the codebase would be useful.

## Acceptance criteria
[ ] TBD

[2020-04-26 08:40] sebbel commented on #110
I think a paragraph about what GitHub Action is and the benefits / implications for this project along with some links would be sufficient.
----
We use GitHub actions in the context of this project to run `lint` and `tests` on the changed codebase when a PR is filed. These tools help spot errors in style and logic and reduce the time for reviews. They run automatically and provide insight through

[2020-04-26 08:43] sebbel commented on #103
@lpatmo can we refine this issue a little bit?
1. Do we have mockups,
2. Do we need mockups?
3. How would this work locally vs live?

[2020-04-26 08:45] sebbel commented on #94
I'd advocate for Sentry. Can you @lpatmo create a codebuddies account and we'll just go from there?

[2020-04-26 08:47] sebbel commented on #73
Just to revive this. I have had some great success with `theme-ui` on a few toy projects. maybe we could try that out if its compatible with material?

[2020-04-26 09:42] lpatmo commented on #94
Thanks all, will apply at https://sentry.io/for/open-source/!

[2020-04-26 10:14] lpatmo commented on #103
Great questions!

This is the JSON object returned on the page currently:

[code]

This is a mockup:

![image](https://user-images.githubusercontent.com/4512699/80304612-ff23ad00-876b-11ea-9b51-8ddc726bb24f.png)

Can you clarify what you mean by the third question?

[2020-04-26 18:22] #93 closed

[2020-05-04 04:27] lpatmo commented on #4
Update: the search endpoint now exists! We can make a POST request to `/api/v1/resources/?search=Elm`, for example :)

[2020-05-04 05:01] lpatmo commented on #101
https://github.com/codebuddies/frontend/pull/102 fixed this!

[2020-05-04 05:01] #101 closed

[2020-05-04 05:21] lpatmo commented on #98
Side note: I thought I knew project management but in revisiting everything that I set a few months ago I can't believe how sparsely I wrote some tickets and how easily issues became outdated or ran away from me 😂

Started a roadmap doc at https://docs.google.com/document/d/1YuVO-v0n73ogoFIwpwJgI1Bkso8sP2mg5zqbX9FB3lU/edit# for the first time; main things, in summary, are:
- staging deployment of

[2020-07-12 04:12] lpatmo opened #117 "[User Story] CBV3 homepage user story"
## Context
This purpose of this ticket is to discuss the user story for the V3 home page.

@adachiu had started working on a WIP which focuses on hangouts and CB Connect:
![image](https://user-images.githubusercontent.com/4512699/87238669-7f949a00-c3ba-11ea-8b83-a5241d2f0189.png)

Our current homepage at https://cbv3.netlify.app:
![image](https://user-images.githubusercontent.com/4512699/87238690-

[2020-07-19 02:31] angelocordon opened #118 "Update NPM Packages"
## Context
We have a few NPM packages that are a few minor versions behind -- not a huge deal, but keeping these up to date would be helpful in terms of keeping ahead of security vulnerabilities as well as ensuring that our other dependencies are running properly.

Either we update these manually, or we set up an automated system via Dependabot or similar to keep these dependencies up to date as w

[2020-07-19 02:32] angelocordon commented on #118
You can get this list by running `npm outdated`

[2020-07-20 02:54] lpatmo commented on #118
+1 to setting up Dependabot. For some reason I thought we had it set up already 🤔

[2020-07-22 22:40] tgrrr commented on #103
Watch out for dangerously injected html

[2020-07-25 22:47] lpatmo opened #121 "[Firefox] Potential security issue - `npm run start` bug"
![image](https://user-images.githubusercontent.com/4512699/88467653-1d459a00-ce8e-11ea-8cbb-0ce057e69ba7.png)

@bengineerdavis was getting this error upon `npm run start`.

[2020-07-25 22:54] lpatmo commented on #121
Looks like Ben had an extra security setting which was causing this error in Firefox, so it worked in Chrome! Thanks @watchtheblur for helping us solve :)

[2020-07-25 23:32] lpatmo opened #122 "[CSS] Fix text overflow problem"
![image](https://user-images.githubusercontent.com/4512699/88468163-5ed94380-ce94-11ea-9936-b892dd2c8904.png)

h2. Acceptance Criteria
[ ] Fix overflow problem in titles

h2. Ticket Size
1 (small)

[2020-07-26 03:27] lpatmo commented on #117
@adachiu When you get a chance, do you mind sharing the SVGs for those images on the home page? I think I'm close to finding time/new contributors to work on a revamped home page. :) Thanks!

[2020-07-26 19:44] lpatmo commented on #55
@bkbuilt and I paired on this on Twitch earlier today: https://www.twitch.tv/videos/691444610

We jotted down a couple of TODOs we'll tackle in a future pairing session, including:

// TODO : // when type, store values on change // decide what happens on successful submit (redirect to created resource, alert like "congrats you submitted resource..") // validation (follow auth implementation) (as t

[2020-07-26 19:48] lpatmo commented on #18
Closing this issue, since not everyone is aligned on the final design for the resource card.

[2020-07-26 19:48] #18 closed

[2020-07-27 02:38] bengineerdavis commented on #103
I'll try my hand at this issue. How do I point my draft PR to this?

[2020-07-29 02:59] lpatmo commented on #4
h2. Acceptance Criteria
[ ] User is able to type a search term and click submit
[ ] Upon submit, search results are returned, and the keyword the user searched for appears on the screen
[ ] If there are no results, `"keyword" has 0 results` appears on the screen.

h2. Helpful notes
An example search API endpoint: '/api/v1/resources/?search=Elm'

[2020-07-29 04:39] BethanyG commented on #4
We currently only have a [**very** basic](https://www.django-rest-framework.org/api-guide/filtering/#searchfilter) search filter enabled in DRF.

**Current search fields are:**  'guid', 'media_type', 'title', & 'description'.

`author`, `user`, `tags`,  `url` (main & referring), `date_published`,  `date_created`, `date_modified`, and `paid` **are not searched**.

[2020-07-30 04:24] bengineerdavis commented on #121
@lpatmo I don't remember if we resolved this. Do you all still need me to look into it?

[2020-07-30 05:35] lpatmo commented on #121
@bengineerdavis IIRC you asked me to keep it open, but we discovered that you had an extension on Firefox which caused so the issue, so when you created a new browser profile it worked. :) I can close!

[2020-07-30 05:35] #121 closed

[2020-07-30 16:03] bengineerdavis commented on #121
Yes that would be great! Let me know what I can reproduce on my end.

[2020-08-02 20:22] bkbuilt commented on #122
Will be fixed in new branch.. resolved with "height: '100%'"

[2020-08-02 20:24] bkbuilt commented on #122
<img width="1320" alt="Screen Shot 2020-08-02 at 4 24 12 PM" src="https://user-images.githubusercontent.com/50244206/89131677-a5eeb680-d4dc-11ea-953a-35722b09d2e3.png">

[2020-08-03 11:40] adachiu commented on #117
SVG files

[svg-hangout-illustrations.zip](https://github.com/codebuddies/frontend/files/5015708/svg-hangout-illustrations.zip)

[2020-08-06 18:39] lpatmo commented on #4
Branch checked in here: `issue-4-search`

Some remaining todos:
- material UI for the search elements
- integration test

[2020-08-07 04:29] lpatmo commented on #31
Thanks @jtanadi! (Sorry I totally missed your comment from March)

[2020-08-07 04:34] lpatmo commented on #54
@adachiu also proposed removing timestamps entirely from the /resources page in https://www.figma.com/file/wXMeX9xgYTcVKNJ1XT9ZQ5/cbv3poc?node-id=0%3A1.

I'm going to update the title of this issue to be about removing the timestamps.

[2020-08-07 16:48] lpatmo commented on #97
Copying/pasting from Slack discussion threads:

linda (she/her):spiral_calendar_pad:  3 days ago
:star2: Part of a successful pairing session is establishing guidelines for how to pair program, including the idea of establishing a goal and checking in during the middle/end about whether that goal was met. We should relay this info. to people who sign up to pair.
:+1::skin-tone-3:
4

bethanyg  2 da

[2020-08-17 08:16] lpatmo commented on #98
Note: this will be moved into the new `Discussions` feature, so am closing this issue.

[2020-08-17 08:16] #98 closed

[2020-08-20 01:44] lpatmo opened #135 "[Documentation] Add instructions to contributing.md re: workflow in a forked repo"
## Context
Pairing with @watchtheblur, I realized that contributors might easily get confused about how to create a PR from a forked repo.

## Acceptance criteria
[ ] Create a checklist for what to do after forking a repo and add it to cocntributing.md

Contents:

1. git pull upstream main
2. git push origin main
3. git checkout -b ISSUE-X-BRANCH // creates a new branch
4. git checkout ISSUE-X-BRA

[2020-08-20 03:57] #103 closed

[2020-08-23 20:31] #96 closed

[2020-08-25 07:18] lpatmo opened #143 "[Refactor] Refactor the /resources page to use React Query"
## Context
See: example from https://github.com/codebuddies/frontend/pull/126

## Acceptance criteria
[ ] Refactor the current GET /resources call to use React Query (https://github.com/tannerlinsley/react-query)

[2020-08-26 11:28] peoray commented on #143
Picking this up

[2020-08-26 11:36] peoray commented on #135
To be clear does this mean having a contributing Readme file which explains the process of forking and submitting a PR?

[2020-08-27 01:32] lpatmo commented on #143
Thanks @peoray!!

[2020-08-27 01:33] lpatmo commented on #135
Yep! ... adding it as a section to CONTRIBUTING.md for now, I think.

[2020-08-27 11:52] #80 closed

[2020-08-27 11:52] #73 closed

[2020-08-27 11:52] #110 closed

[2020-08-27 11:52] #94 closed

[2020-08-30 21:12] #118 closed

[2020-08-31 00:14] peoray commented on #135
Okay. I'll delete my current project and try documenting the steps to fully have a functional repo and contributing!

[2020-08-31 04:04] lpatmo commented on #135
Thank you @peoray! I think the other ticket (https://github.com/codebuddies/frontend/issues/143) is higher priority, but if you're able to document the steps as you're creating that PR, maybe that would be the easiest approach. Let me know if you need any help!

[2020-09-02 02:18] wuworkshop commented on #135
@lpatmo Curious, why should a contributor use `git push --force`. Seeing a flag called `--force` makes me question it.

[2020-09-02 03:54] lpatmo commented on #135
Good question! It is one of the common gotchas after rebasing in a local
branch, since the terminal confusingly calls for git pull:

This has a great explanation: https://blog.verslu.is/git/git-rebase/

Also:
https://www.reddit.com/r/git/comments/6jzogp/why_am_i_force_pushing_after_a_rebase/

On Tue, Sep 1, 2020, 7:18 PM wuworkshop <notifications@github.com> wrote:

[2020-09-05 00:35] wuworkshop commented on #135
I just read up on the `--force` flag  in the Git reference site and it seems like `--force-with-lease` is safer.
https://git-scm.com/docs/git-push#Documentation/git-push.txt---no-force-with-lease

Those two links of yours had similar comments about `--force-with-lease`.

From the blogpost, there was this comment posted:

From the Reddit thread:
https://www.reddit.com/r/git/comments/6jzogp/why_am_i

[2020-09-05 02:08] lpatmo commented on #135
👍 Awesome, let's do that! (And I'll try to change my habits to do `git push --force-with-lease`)

[2020-09-05 20:02] lpatmo commented on #4
Update: the PR at https://github.com/codebuddies/frontend/pull/134 by @watchtheblur is pretty close to being merged 🎉

[2020-09-06 17:06] lpatmo commented on #97
Discussion continued here: https://github.com/codebuddies/frontend/discussions/138

[2020-09-08 21:37] #122 closed

[2020-09-09 03:27] tgrrr commented on #55
Bump because I think this is an open ongoing issue

[2020-09-09 12:03] tgrrr commented on #55
I got on top of the bugs for this Linda @lpatmo. It still needs more work, including validation and tests to be written.

[2020-09-10 01:40] lpatmo commented on #55
Thanks so much for taking a look! Will take a look at the `issue-55` branch (where I assume you made the commits)

[2020-09-10 02:13] lpatmo commented on #55
@tgrrr So sorry again about the confusion with the branches! I probably should have deleted `issue-55`. `issue55-post` contains the more updated work involving `useReducer` and the `React Query` refactor and the validation that a user is logged in before they can post. I'll dig into it again on stream sometime.

[2020-09-13 05:21] #35 closed

[2020-09-13 05:21] #37 closed

[2020-09-13 05:21] #31 closed

[2020-09-13 05:21] #52 closed

[2020-09-13 05:21] #54 closed

[2020-09-13 05:21] #95 closed

[2020-09-13 05:21] #100 closed

[2020-09-13 05:21] #117 closed

[2020-09-14 02:36] lpatmo opened #155 "Error handling + Sentry"
## Context
We should log errors in a tool like Sentry.

## Acceptance criteria
[ ] Apply to https://sentry.io/for/open-source/
[ ] Read the docs at https://docs.sentry.io/platforms/javascript/guides/react/
[ ] Hook up with our React code

[2020-09-14 02:40] angelocordon-omada commented on #155
Since they have a free plan, we should try it out

[2020-09-16 19:46] pdotsani commented on #104
Waiting on https://github.com/codebuddies/frontend/pull/147 to merge.

[2020-09-21 04:22] tgrrr opened #159 "Tests for Search"
Increase test coverage for the Search component in `src/components/Resources/index.test.js`

Tests for:
- keyDown
- click on the search button
- Tests expected to fail? Eg. what happens for bett, berty, etc
- Test API and network failures

See:
- https://github.com/codebuddies/frontend/pull/134#discussion_r486147479
- https://github.com/codebuddies/frontend/pull/134#discussion_r486147628

[2020-09-21 04:24] tgrrr opened #160 "CSS measurement units @lpatmo"
We're switching between px, em, and ch. This should be consistent throughout the code

_Originally posted by @tgrrr in https://github.com/codebuddies/frontend/pull/134#discussion_r491786806_

[2020-09-21 04:27] tgrrr commented on #76
I did some work on this, but it became redundant with the changes that were made.

I still think this is important, and needs to be move out of `Done` @lpatmo @angelocordon

[2020-09-21 04:33] lpatmo commented on #76
I agree! Was going to work on this after the React Query refactor

On Sun, Sep 20, 2020, 9:27 PM Phil <notifications@github.com> wrote:

[2020-09-21 04:33] lpatmo commented on #159
Thanks for filing issues for those TODOs, Phil :)

On Sun, Sep 20, 2020, 9:22 PM Phil <notifications@github.com> wrote:

[2020-09-21 04:39] angelocordon commented on #76
Same. If you have something put together, feel free to put up a PR anyways @tgrrr

[2020-09-21 04:40] angelocordon commented on #76
Let’s scope this down to pulling route components (pages) into a pages directory

[2020-09-26 20:22] lpatmo opened #161 "Update user registration flow to support new backend auth endpoints"
## Context
Note: work on this issue after https://github.com/codebuddies/backend/pull/187 is merged in. That PR rewrote the auth to use a more up-to-date auth package that supports email verification, an important step we didn't support before.

**First, let me try registering a new user:**
POST /api/v1/auth/registration/
{
    "username": "linda",
    "email": "youremail@gmail.com",
    "password

[2020-10-03 20:38] #143 closed

[2020-10-03 20:50] lpatmo commented on #4
This is done! https://github.com/codebuddies/frontend/pull/162

[2020-10-03 20:50] #4 closed

[2020-10-05 00:58] peoray commented on #161
PR has been merged. Is this available?

[2020-10-05 02:34] lpatmo commented on #161
@peoray Here's a rough draft of the PR: https://github.com/codebuddies/frontend/pull/163

This will need to be rebased when the folder restructuring happens, though! In the meantime, feel free to poke around the branch from that draft PR. :) Let me know if you have questions!

[2020-10-06 19:52] BethanyG commented on #97
Removing stale, as this discussion is ongoing.

[2020-10-12 04:20] #135 closed

[2020-10-20 21:31] #55 closed

[2020-10-28 06:03] #160 closed

[2020-10-28 06:03] #159 closed

[2020-10-28 06:03] #76 closed

[2020-11-11 12:42] pdotsani commented on #161
Is this still available? Not sure if @peoray still wanted to take it.

[2020-11-11 13:36] peoray commented on #161
@pdotsani Yeah, I'm still active on this. If you want, we can pair and work on it together

[2020-11-11 15:29] pdotsani commented on #161
Sounds good! Are you on slack? I think I pinged you...

[2020-11-12 21:32] #97 closed

[2020-11-23 11:57] #104 closed

[2020-11-27 07:19] #155 closed

[2020-12-11 18:01] BethanyG commented on #161
@peoray @pdotsani  -- is this still in progress, or should we be closing it?  Pls LMK.  Thanks!

[2020-12-12 00:25] pdotsani commented on #161
Hi @BethanyG - It's still in progress. @peoray and I are about halfway done. We're planing to work on it next weekend.

[2021-01-18 17:40] BethanyG commented on #161
@pdotsani  -- the stale bot has come for this again.  I think commenting on it will be sufficient to keep it open....but thought I'd ping you just in case.

[2021-01-18 19:18] pdotsani commented on #161
@BethanyG 👍

[2021-01-18 19:49] BethanyG commented on #161
Actually, it closed it.  😢   Reopening.

[2021-01-18 19:54] angelocordon commented on #161
Isn't there a tag we can use that makes stalebot ignore issues?

[2021-01-18 20:01] BethanyG commented on #161
@angelocordon   - maybe - If there is, I don't have time at the moment to find it.  For the backend, we review and then **_remove_** the stale flag for issues that get marked stale.  I only noticed this for frontend because I got a note it was closed b/c its linked to a backend issue I was working on.

[2021-05-02 19:14] stain88 opened #177 "Update GitDuck to Duckly"
Following their rebranding, references to CodeBuddies sponsor should be updated from GitDuck to Duckly

[2021-05-09 18:15] stain88 commented on #177
Fixed by #181

[2021-05-09 18:16] #177 closed